.topic{
    text-align: center;
    text-decoration: underline;
    font-size: larger;
    padding-top: 10px;
}
.course{
    background-color: pink;
    padding-left: 25px;  
}
.All{
    background-color: rgb(254, 218, 224);
    border-radius: 25px;
    width: 450px;
    height: 1100px;
}
.Schedule{
    background-color: pink;
    padding-left: 25px;
}
.do{
    background-color: pink;
    padding-left: 25px;
}
.goals{
    background-color: pink;
    padding-left: 25px;
}
.list{
    font-weight: bold;
}
#list1{
    font-weight: bold;
}