.event{
    background-color: rgb(247, 186, 196);
    border-radius: 25px;
    width: 350px;
    height: 550px;
    padding-left: 20px;
}
h3{
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
}
#list{
    font-weight: bold;
}